.note-title, .note-body {
  overflow-wrap: break-word;
  overflow: hidden;
  width:95%;
}

.note-menu {
  position: absolute !important;
  right: 5px;
  top: 5px;
}

.complete-todo {
  background-color: #92e2ed !important;
}

.inComplete-todo {
  background-color: #ffe799 !important;
}


@keyframes fade-in {
  from {opacity: 0};
  to {opacity: 1};
}

.custom-card {
  padding: 20px 30px !important;
  margin-bottom: 10px !important;
  animation: fade-in 1s;
}