body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.full-width {
  width: 100% !important;
}

.card {
  padding: 20px 30px !important;
  margin-bottom: 10px !important;
}

.col-content {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}

.row-content {
  display: flex !important;
  flex-direction: column;
}

body {
  background-color: #fafafa;
}